

<section class="card p-3 mt-5">
  <figure class="text-center">
    <img src="assets/profile.jpg" />
  </figure>
<div class="card-body">

  <h2 class="card-title" contenteditable="true">Lorem ipsum</h2>

  <p class="card-subtitle" contenteditable="true">
      Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken.
  </p>

  <div class="mt-2 text-center">
    <button class="btn btn-danger"(click)="logout()">Logout</button>
  </div>
</div>
</section>